.idea/
.env
__pycache__/
src/media/image/goods/*
src/db.sqlite3
src/media/image/carousel/asADSA.jpg
src/media/image/carousel/elte.png
src/media/image/carousel/humanity.png
src/media/image/carousel/ik-thumb.jpg
src/media/image/carousel/xv2f4554.png
src/media/image/cat/apron-pinaphora-hood-rolling-pin-260nw-681208909.webp
src/media/image/cat/Mc5lMsF.png
src/media/image/cat/teach.jpeg
