{% load static %}
<div id="UserForm">
    <div class="left"></div>
    <div class="right signin">
        <div class="form-content">
            <div class="form-items">
                <h3>Get more things done by joining us.</h3>
                <p>Fill all fields so we can get some info about you. We'll never send you spam.</p>
                <div class="page-links">
                    <a href="{% url 'login' %}" class="sign-in_btn active">Login</a>
                    <a href="{% url 'signup' %}" class="register_btn">Register</a>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="ibtn">Log In</button>
                </form>
            </div>
        </div>
    </div>

</div>



<style>


</style>

<script>
    let signInInputs = document.querySelectorAll("#Userform input")
    signInInputs[1].setAttribute("placeholder","Username")
    signInInputs[2].setAttribute("placeholder","Password")

</script>